*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*this is for nav bar*/

.navbar {
  position: fixed;
  width: 100%;
  background-color: #3a3a3b;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

/*this is for nav bar scrolling*/
#Contact{
  scroll-behavior: smooth;
}

/*this is for the head picture*/
.top-left {
  position: absolute;
  top: 65px;
  left: 16px;
  font-size: xx-large;
  color: #ffffff;
}

/*this is for centeri image*/
.centeri{
  width: auto;
  height: auto;
}

/*this is for center2 image*/
.centeri2{
  width:50px;
  height: auto;
}

/*this is for the content */
.content {
  font-size:x-large;
  text-align:left;
  padding-left: 10%;
  padding-right: 30%;
}

/*this is for sticky icons*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}
.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

/*this is the footer*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #dbdaeb;
  color: rgb(0, 0, 0);
}